﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Assginment_2a._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
      <h1>Tarun Kumar</h1>
        <p class="lead">Assingment 2a</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>WEB PROGRAMMING</h2>
            <p>
                <strong>By Sean Doyle</strong>

            </p>                
            
        </div>
        <div class="col-md-4">
            <h3>Web Application 1</h3>
            <p>
               <strong>Christine Bittle</strong>
            </p>
           
        </div>
        <div class="col-md-4">
            <h4>DATABASE (SQL)</h4>
            <p>
               <strong>by Simon Borer </strong>
            </p>
       </div>
    </div>
                                                                                                                                                                                                                                            
</asp:Content>
